<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

<ion-content fullscreen="true">

  <div class="logo">
    <ion-img src="assets/img/logo.png"/>
  </div>

  <div class="container">
    <svg class="back-blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <path fill="#8295A3" d="M68.6,-33.5C81.6,-17.2,79.6,13.8,65.7,37.6C51.8,61.3,25.9,77.8,2.1,76.6C-21.7,75.4,-43.5,56.5,-54.2,34.6C-65,12.7,-64.8,-12.3,-53.9,-27.4C-43,-42.4,-21.5,-47.6,3.2,-49.4C27.9,-51.2,55.7,-49.7,68.6,-33.5Z" transform="translate(100 100)" />
    </svg>
    
    <div class="folder">
      <ion-img src="assets/img/demandas2.png"/>
    </div>
  
    <div  class="textoInferior">
      <p><span>IFPI</span> - Campus Floriano</p>
    </div>
  </div>

  <div class="ion-padding">

    <ion-fab vertical="bottom" horizontal="center" style="margin-bottom: 50px;">
      
      <ion-fab-button color="primary" [routerLink]="['/login']">
        <ion-icon name="arrow-redo-outline"></ion-icon>
      </ion-fab-button>
      
    </ion-fab> 

  </div>

</ion-content>

