@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


:root {
  --dark: #0e0b0c;
  --light: #555;
  --cinza: #ccc;
  --cinzaClaro: #EEEEEE;
  --branco: #fff;

  --Azul: #0CB0FF;
  --AzulEscuro: #00476A;
  --AzulClaro: #77D3FF;
  --AzulClarinho: #A8E3FF;

}

.custom-font {
    font-family: 'Poppins', sans-serif;
}

.menu {
  --background: rgb(255, 255, 255);
  margin: 0px;

  ion-title {
      color: #00476A;
      margin-top: -30px;
      font-size: 22px;
  }
}

.menu-header-bg {
  height: 180px;
  width: 350px;
  background: #00476A;
  background: linear-gradient(90deg, #096897 0%, #00476A 60%);
  box-shadow: rotate(-15deg);
  border-radius: 10px 10px 10px 5px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.menu-text {
--background: #00476A;
color: var(--branco);
}

.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  img {
      width: 80px;
      height: 80px;
      padding: 5px;
      border-radius: 50%;
      border: 7px solid #5e7ccc;
  }

  h2 {
      font-weight: 300;
      color: #fff;
      margin-left: 25px;
      font-size: 25px;
  }

  p {
      font-size: 18px;
      color: #e4e4e4;
      font-weight: 100;
      margin-left: 25px;
      letter-spacing: 0.4px;
  }
}

.menu-items {
  margin: 0px;
  margin-top: 30px;
  background-color: white;

  ion-icon {
      margin-right: 20px;
      color: var(--AzulEscuro);
     
  }

  ion-item {
    font-size: 22px;
      padding-left: 20px;
      margin-bottom: 10px;
      color: #00476A;
      --background: rgb(255, 255, 255);

      &:hover {
        --background: #78d2ff;
      }
  }

  .active {
      border-left: 5px solid;
      color: #0CB0FF;
      padding-left: 16px;
  }

  ion-icon {
      color: #00476A;
  }
}

ion-header {
  --background: rgb(255, 255, 255);
}

/**---------------------------------------------------------**/

.professor {
  padding: 10px;
  
}

.demandas {
  --background: rgb(255, 255, 255);

  ion-modal {
    ion-content {
      padding: 20px;
    }
  }
}

.pesquisar {
  margin-top: 10px;
  --background: #ccc;
  color: var(--branco);
}

.botoess {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lista {
  margin-top: 20px;

  ion-list {
    background: rgb(255, 255, 255);
  }

  .proflista {
    margin-top: 5px;
    font-size: 20px;
    color: #00476A;
    --background: rgb(255, 255, 255);
  }

}

.custom-alert {
  background: #ffffff;
  color: #00476A;
}

.addr-book-list {
  margin-top: 20px;
}

.header {
  font-weight: bold;
}

ion-col {
  border: 1px solid #ccc;
  padding: 10px;
}

.box-text {
  text-align: center;
  margin-top: 20px;
  color: black;
}

.graphBox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.pagination ion-button {
  width: 100%;
  margin: 0 2px;
  padding: 3px;
  background: rgb(255, 255, 255);
}

.CopyCampus {
  color: #0CB0FF;
}

.CopyCampus {
  
  --background: rgb(255, 255, 255);
  color: #00476A;
  margin-top: 3px;

  .ifpi {
    font-size: 14px;
    text-align: center;
  }
}
